@import url("https://unpkg.com/simplebar@latest/dist/simplebar.css");
@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");

body {
    background-color: #d0e8f2;
    color: #456268;
}

.textarea {
    overflow: auto;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title img {
    width: 50px;
    height: 50px;
    margin: 0 1em;
}

#input-txt {
    background-color: white;
    line-height: 1.5;
}

.highlight {
    background-color: wheat;
    border-radius: 0.2em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#confirm-btn {
    display: flex;
    flex-direction: column;
}

#input-txt {
    width: 80vw;
    height: 70vh;
    border: 1px solid;
    border-radius: 0.3em;
    padding: 1em;
    font-size: 1.45em;
}

.toolbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;

    right: 2em;
    bottom: 0;
    background-color: #fffd;
    font-size: 1.25em;
}

.toolbar .button {
    padding: 0.5em;
    cursor: pointer;
}

.toolbar .button:hover {
    background-color: #ccce;
}

.toolbar .slider {
    padding: 0.5em;
}

.active-btn {
    background-color: #ccce;
}

#dataset-dropdown {
    display: flex;
    font-size: 0.9em;
    cursor: pointer;

    margin: 0 1em;
}

#dataset-dropdown .selected {
    padding: 0.5em;
    border-radius: 0.3em;
    background: #fff9;
    width: 13em;
    text-align: center;
}

#dataset-dropdown .selected:hover {
    background: #fffd;
}

#dataset-dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0.3em;
    width: 13em;
    padding: 0.5em;
    z-index: 1;
}

#dataset-dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#dataset-dropdown li {
    color: black;
    padding: 0.7em;
    border-radius: 0.3em;
    text-decoration: none;
    text-align: left;
}

#dataset-dropdown li:hover {
    background: #666c;
}

.active {
    display: block !important;
}

tr.sub-window-title-bar-blue {
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 35%,
        rgba(0, 212, 255, 1) 100%
    );
    color: white;
    cursor: grab;
}
